<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="Banks" />
    <!-- og tags -->
    <meta property="og:site_name" content="Banks" />
    <meta property="og:description" content="Banks" />
    <meta property="og:url" content="Banks" />
    <meta property="og:title" content="Banks" />
    <link rel="icon" type="image/png" href="./../img/favicon.png" />
    <title>Banks</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="absolute top-0 left-0 w-full sm:py-7 py-4 header md:px-2 z-50">
      <div class="container max-w-full flex">
        <div class="sm:w-auto w-28"><img src="./../img/logo.svg" alt="banks" /></div>
        <div class="ml-auto flex sm:space-x-12 space-x-3 items-center">
          <a href="https://fishermenlabs.com/" class="text-white/70 sm:text-lg text-sm hover:text-white transition duration-300">Go to Fishermen Labs</a>
        </div>
      </div>
    </header>
    <!-- HEADER END -->

    <!-- MAIN -->
    <main class="overflow-hidden">
      <!-- BANNER -->
      <section class="h-screen">
        <img src="./../img/banner.jpg" class="w-full h-full object-cover" alt="" />
        <div class="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center">
          <div class="container text-center">
            <h2 class="font-buckwheat text-white lg:text-8.5xl sm:text-7.5xl text-5xl lg:max-w-2xl sm:max-w-lg max-w-xs mx-auto leading-none uppercase -mt-44">GEAR DESIGNED TO KEEP UP WITH YOU</h2>
          </div>
        </div>
      </section>

      <section class="lg:py-32 sm:py-24 py-10">
        <div class="container">
          <div class="lg:-mx-5 -mx-3 sm:flex items-center">
            <div class="lg:px-5 px-3 sm:w-5/12 text-center sm:text-left">
              <h2 class="lg:text-8.5xl sm:text-6xl text-5xl uppercase font-buckwheat mb-5">Take our gear for a spin</h2>
              <p class="sm:max-w-[360px]">Check out our equipment without leaving your couch by viewing it in Augmented Reality.</p>
            </div>
            <div class="lg:px-5 px-3 sm:w-7/12 mt-8 sm:mt-0">
              <figure class="lg:pl-14">
                <img src="./../img/img-1.jpg" alt="" />
              </figure>
            </div>
          </div>
        </div>
      </section>

      <section class="md:pt-14 pt-8 md:pb-28 pb-16">
        <header class="px-3.6 text-center mb-3">
          <h3 class="lg:text-5.5xl sm:text-4.8xl text-3.2xl font-bold mb-4">The Essentials</h3>
          <h5>Durable and transportable is our M.O.</h5>
        </header>
        <div class="sm:overflow-auto sm:px-0 px-3.6">
          <div class="sm:flex sm:justify-center sm:space-x-8 sm:min-w-[1000px]">
            <div class="bg-white shadow-lg rounded-lg xl:w-[425px] sm:w-80 mt-10 p-5 flex flex-col">
              <figure class="flex justify-center">
                <img src="./../img/Camp-Tent-Transparent.png" alt="" />
              </figure>
              <div class="mt-auto pt-5">
                <h2 class="xl:text-3.5xl sm:text-2.8xl text-2xl font-bold sm:mb-8 mb-3 text-center">The Camper Tent</h2>
                <div class="flex lg:justify-start justify-center items-center">
                  <div class="text-4.5xl text-[#AD745B] font-buckwheat">$299.99</div>
                  <div class="ml-auto hidden lg:block w-20">
                    <div class="qr-block">
                      <img src="./../img/qr/qr-blue-bag.svg" alt="qr code" />
                      <span
                        >Scan to<br />
                        View in AR</span
                      >
                    </div>
                  </div>
                </div>
                <div class="flex justify-center mt-4 lg:hidden">
                  <a href="" class="button rounded-full text-base inline-flex items-center space-x-3 px-6 py-2.5">
                    <img src="./../img/button-icon.svg" alt="" />
                    <span>View in AR</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="bg-white shadow-lg rounded-lg xl:w-[425px] sm:w-80 mt-10 p-5 flex flex-col">
              <figure class="flex justify-center">
                <img src="./../img/dkpjp4ydvmkiz7ckzeq9.png" alt="" />
              </figure>
              <div class="mt-auto pt-5">
                <h2 class="xl:text-3.5xl sm:text-2.8xl text-2xl font-bold sm:mb-8 mb-3 text-center">Campfire Stove</h2>
                <div class="flex items-center lg:justify-start justify-center">
                  <div class="text-4.5xl text-[#AD745B] font-buckwheat">$89.99</div>
                  <figure class="ml-auto hidden lg:block w-20">
                    <img src="./../img/qr.png" alt="qr code" />
                  </figure>
                </div>
                <div class="flex justify-center mt-4 lg:hidden">
                  <a href="#" class="button rounded-full text-base inline-flex items-center space-x-3 px-6 py-2.5">
                    <img src="./../img/button-icon.svg" alt="" />
                    <span>View in AR</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="bg-white shadow-lg rounded-lg xl:w-[425px] sm:w-80 mt-10 p-5 flex flex-col">
              <figure class="flex justify-center">
                <img src="./../img/stove.png" alt="" />
              </figure>
              <div class="mt-auto pt-5">
                <h2 class="xl:text-3.5xl sm:text-2.8xl text-2xl font-bold sm:mb-8 mb-3 text-center">Portable Stove</h2>
                <div class="flex items-center lg:justify-start justify-center">
                  <div class="text-4.5xl text-[#AD745B] font-buckwheat">$64.99</div>
                  <figure class="ml-auto hidden lg:block w-20">
                    <img src="./../img/qr.png" alt="qr code" />
                  </figure>
                </div>
                <div class="flex justify-center mt-4 lg:hidden">
                  <a href="" class="button rounded-full text-base inline-flex items-center space-x-3 px-6 py-2.5">
                    <img src="./../img/button-icon.svg" alt="" />
                    <span>View in AR</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-16 bg-white">
        <div class="container">
          <h3 class="lg:text-5.5xl sm:text-4.8xl text-3.5xl font-bold mb-4 text-center">Find the backpack that’s right for you</h3>
          <div class="sm:flex -mx-10 sm:justify-center">
            <div class="px-10 sm:w-1/2 mt-14">
              <div class="flex flex-col items-center">
                <figure>
                  <img src="./../img/bag-1.png" alt="" />
                </figure>
                <h2 class="lg:text-3.5xl text-2xl font-bold lg:mb-8 mb-3 mt-5 text-center">Blue Backpack - $399</h2>
                <img class="hidden lg:block w-20" src="./../img/qr.png" alt="" />
                <div class="flex justify-center lg:hidden">
                  <a href="" class="rounded-full text-base inline-flex items-center space-x-3 px-6 py-2.5">
                    <img src="./../img/button-icon-1.svg" alt="" />
                    <span>View in AR</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="px-10 sm:w-1/2 sm:flex sm:justify-center mt-14">
              <div class="flex flex-col items-center">
                <figure>
                  <img src="./../img/bag-2.png" alt="" />
                </figure>
                <h2 class="lg:text-3.5xl text-2xl font-bold lg:mb-8 mb-3 mt-5 text-center">Green Backpack - $399</h2>
                <img class="hidden lg:block w-20" src="./../img/qr.png" alt="" />
                <div class="flex justify-center lg:hidden">
                  <a href="" class="rounded-full text-base inline-flex items-center space-x-3 px-6 py-2.5">
                    <img src="./../img/button-icon-1.svg" alt="" />
                    <span>View in AR</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- MAIN END -->
    <!-- FOOTER -->
    <footer class="bg-black lg:py-10 py-7 md:px-3">
      <div class="container max-w-full lg:flex lg:items-center">
        <div class="sm:w-auto w-28">
          <img src="./../img/logo.svg" alt="" />
        </div>
        <div class="lg:w-96 mt-8 lg:mt-0 lg:max-w-full max-w-sm ml-auto mr-auto lg:mr-0">
          <a href="#" class="bg-[#E8E2CF] font-medium rounded-full text-center py-7 w-full block px-10 lg:text-2xl text-xl text-black hover:bg-white transition duration-300"> See what AR can do for you </a>
        </div>
        <div class="ml-auto flex lg:flex-col sm:flex-row flex-col lg:space-y-4 sm:space-y-0 space-y-5 lg:text-right lg:mt-0 mt-14">
          <a href="https://fishermenlabs.com/" class="text-white group hover:text-[#BCD8B6] transition duration-200 lg:text-2xl sm:text-xl text-[15px] lg:order-first sm:order-1 lg:ml-0 sm:ml-auto"
            ><span class="border-b-2 border-white/50 group-hover:border-[#BCD8B6] transition duration-300">Go to Fishermen Labs</span></a
          >
          <p class="text-white lg:text-2xl sm:text-xl text-[15px] lg:order-1 sm:order-[0]">© 2021 Banks Supply Company</p>
        </div>
      </div>
    </footer>
    <!-- FOOTER END -->
  </body>
</html>
